# Ignorer les dossiers générés
cestquoilouverture/staticfiles/
/staticfiles/
/env/
/__pycache__/
/*.pyc

# Ignorer les fichiers et dossiers spécifiques
openings/__pycache__/
traps/__pycache__/
traps/migrations/__pycache__/
cestquoilouverture/__pycache__/
cestquoilouverture/settings.py
cestquoilouverture/settings/dev.py
cestquoilouverture/settings/__pycache__/base.cpython-312.pyc
cestquoilouverture/settings/__pycache__/__init__.cpython-312.pyc
cestquoilouverture/settings/__pycache__/dev.cpython-312.pyc
openings/migrations/__pycache__/0003_variation.cpython-312.pyc
