header {
    /* background-color: #262522; */
    /* padding: 10px 20px; */
    text-align: center;
    width: 100%;
    color: #CCCCCC;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: #CCCCCC;
    text-decoration: none;
    border-radius: 5px;
    border: #CCCCCC;
    border: solid 1px;
    padding : 10px 20px;
    margin: 10px;
}

header nav ul li a:hover {
    background-color: #262522;
}