header {
    /* background-color: #262522; */
    /* padding: 10px 20px; */
    text-align: center;
    width: 100%;
    color: #CCCCCC;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: #CCCCCC;
    text-decoration: none;
    border-radius: 5px;
    border: #CCCCCC;
    border: solid 1px;
    padding : 10px 20px;
    margin: 10px;
}

header nav ul li a:hover {
    background-color: #262522;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre horizontalement */
    justify-content: flex-start; /* Place les éléments en haut */
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #302e2b;
    color: #D1D1D1;
}

#select-container {
    display: flex; /* Active flexbox */
    justify-content: space-between; /* Place les boutons aux extrémités */
    align-items: center; /* Aligne verticalement */
    width: 100%; /* Prend toute la largeur disponible */
    max-width: 400px; /* Limite la largeur pour un meilleur aspect */
    box-sizing: border-box; /* Inclut les bordures et les marges dans la largeur totale */
}

select {
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #262522;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #CCCCCC;
    width: 45%;
}

#chess-board {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px; /* Limite la largeur pour un meilleur aspect */
}

#chess-board svg {
    margin: auto;
    display: block;
}

#button-container {
    display: flex; /* Active flexbox */
    justify-content: space-between; /* Place les boutons aux extrémités */
    align-items: center; /* Aligne verticalement */
    width: 100%; /* Prend toute la largeur disponible */
    max-width: 400px; /* Limite la largeur pour un meilleur aspect */
    box-sizing: border-box; /* Inclut les bordures et les marges dans la largeur totale */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0;
    background-color: #262522;
    border: none;
    border-radius: 5px;
    color: #CCCCCC;
}

button:hover {
    background-color: #3A3934;
}

@media (max-width: 768px) {
    #chess-board {
        max-width: 90%; /* Réduit la largeur de la board sur mobile */
    }

    button {
        width: 90%; /* Les boutons prennent plus de place sur mobile */
    }
}

@media (max-width: 480px) {
    #chess-board {
        max-width: 100%; /* Board prend toute la largeur sur petits écrans */
    }

    button {
        font-size: 14px; /* Texte plus petit pour les boutons */
    }
}