{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C'est quoi l'ouverture</title>
    <!-- Chargement du fichier CSS depuis le dossier des fichiers statiques -->
    <link rel="stylesheet" href="{% static 'openings/styles.css' %}">
</head>
<body>
    {% include 'common/header.html' %}
    
    <!-- Formulaire pour sélectionner une ouverture -->
    <form id="opening-form" method="POST">
        {% csrf_token %}
        <div id="select-container">
            <select id="opening-select" name="opening_id">
                {% for opening in openings %}
                    <option value="{{ opening.id }}">{{ opening.name }}</option>
                {% endfor %}
            </select>
    
            <select id="variation-select" name="variation_id">
                <option value="">-- Sélectionnez une variante --</option>
            </select>
        </div>
    </form>
    <!-- Conteneur pour afficher le plateau d'échecs -->
    <div id="chess-board"></div>

    <div id="button-container">
        <button type="button" id="prev-move-btn">Précédent</button>
        <button type="button" id="next-move-btn">Suivant</button>
    </div>

  
        <script src="{% static 'openings/scripts.js' %}"></script>

</body>
</html>
